body {
    max-width: 700px;
    font-family: 'Orbitron', sans-serif;
  
}

h1 {    
     
font-family: 'Luckiest Guy', cursive;
    background-color:pink;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 150px;
}
#randomNumber {
    font-family: 'Luckiest Guy', cursive;
    font-size: 40px;
    text-align: center;
}
p {
    color: white;
    background-color: purple;
    margin-left: 20px;
    padding-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    position: static;
    font-size: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#first {
   color: white;
    background-color: purple;
    margin-left: 20px;
    margin-bottom: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
    position: static;
}

#randomNumber {    
    width: 500px;
    background-color: pink;
    margin-left: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-top: 0px;
    float: left;
    margin-bottom: 10px;
    padding-left: 10px;
}


#wins {
    
  color: white;
    background-color: purple;
    position: static;
    margin-left: 525px;
    margin-top: 10px;
   padding-top: 2px;
   padding-bottom: 2px;
    text-align: center;
    
}

#losses {    
    background-color: pink;
    margin-left: 525px;
    margin-bottom: 15px;
    margin-top: 15px;
    position: static;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
}



#img1 {
    width: 170px;
    float: left;
    margin-left: 20px;
 
}
#img2 {
    width: 170px;
    float: left;
  
}
#img3 {
    width: 170px;
    float: left;
   
}
#img4 {
    width: 170px;
  
}

#score {
color: white;
    background-color: purple;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
   font-size: 20px;
    position: static;
    padding-left: 10px;
    text-align: center;
}

#player {    
    font-family: 'Luckiest Guy', cursive;
    background-color: pink;
   margin-left: 20px;
   padding-top: 10px;
   padding-bottom: 10px;
   margin-bottom: 10px;
   padding-left: 10px;
   text-align: center;
   font-size: 40px;
}



/*
    
*/